<!DOCTYPE html>
<html>
    <head>
        <title>roadway.report is a map of every traffic death in the USA (2001-2023)</title>
        <meta name="description" content="The Nationwide Vision-Zero Map">
        <meta name="keywords" content="car, cars, automobiles, automobile, crash, crashes, bike, bikes, bicycle, bicylcles, pedestrian, pedestrians, pedestrian safety, bicycle safety, automobile safety, roadway, roadways, car safety, car crash, car crashes, accidents, car accident, car accidents, fatal accident, fatal car accident, car wreck, car wrecks, FARS, nhtsa, USDOT, DOT, FHA, highway, roadway, freeway, lanes, road width, danger, dangerous, dangerous roads, dangerous highway, dangerous street, stroad, urbanism, vision zero, vision-zero, urbanist, city, cities, transportation, urban planning, public transit, driving, buses, bus, train, trains, drivers, drive, autonomous vehicle, vision zero, vision, zero, vision-zero">
        <meta name="author" content="Ben Carneiro">
        <link rel="me" href="https://its.bencarneiro.com/@ben">
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="static/css/maplibre-gl.css">
        <script src="static/js/maplibre-gl.js"></script>
        <script src="static/js/pmtiles.js"></script>

        <link rel="stylesheet" href="static/css/w3.css">
        <link rel="stylesheet" href="static/css/w3-theme-black.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="static/css/nouislider.css" rel="stylesheet">
        <script src="static/js/nouislider.js"></script>
        <style>
            body {
                margin: 0;
            }
            html, body, #map {
                height:100%; width:100%;
            }
            .popup .maplibregl-popup-content {
                max-height: 50vh;
                overflow-y: auto;
            }
            h1 {
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            font-size: 4rem;
            }
            h2 {
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            font-size: 2rem;
            }
            h3 {
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            font-size: 1.2rem;
            }
            .table{
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            margin-left: auto;
            margin-right: auto
            }
            td, th {
            border: 1px solid #ddd;
            padding: 8px;
            width: 50%;
            text-align: center;
            align-items: center;
            position: center;
            }
            .dt {
                width:20%;
                text-wrap: wrap;
                word-break: break-word;
            }
    .map-overlay {
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        position: absolute;
        width: 200px;
        top: 0;
        left: 0;
        padding: 10px;
    }

    .map-overlay .map-overlay-inner {
        background-color: #fff;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .map-overlay-inner fieldset {
        border: none;
        padding: 0;
        margin: 0 0 10px;
    }

    .map-overlay-inner fieldset:last-child {
        margin: 0;
    }

    .map-overlay-inner select {
        width: 100%;
    }

    .map-overlay-inner label {
        display: block;
        font-weight: bold;
        margin: 0 0 5px;
    }

    .map-overlay-inner button {
        display: inline-block;
        width: 36px;
        height: 20px;
        border: none;
        cursor: pointer;
    }

    .map-overlay-inner button:focus {
        outline: none;
    }

    .map-overlay-inner button:hover {
        box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.1);
    }
        .context-menu {
            position: absolute;
            display: none;
            background: white;
            border: 1px solid #ccc;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            z-index: 10;
        }
        .context-menu button {
            background: none;
            border: none;
            padding: 10px 20px;
            width: 100%;
            text-align: left;
            cursor: pointer;
        }
        .context-menu button:hover {
            background-color: #f0f0f0;
        }
        #collapsibleMenu {
            display: none;
        }
        #openButton {
            display: block;
        }
        #closeButton {
            display: none;
        }
        </style>
        <script>
            function openMenu() {

                document.getElementById("closeButton").style.display = "block";
                document.getElementById("openButton").style.display = "none";
                document.getElementById("collapsibleMenu").style.display = "block";
                
            }
            function closeMenu() {

                document.getElementById("closeButton").style.display = "none";
                document.getElementById("openButton").style.display = "block";
                document.getElementById("collapsibleMenu").style.display = "none";
            }
        </script>

    </head>
    <body>
        <div id="map"></div>

    <div id="context-menu" class="context-menu">
        <button onclick="alert('Hello!')">Hello</button>
    </div>
        <div class="map-overlay top">
            <div class="map-overlay-inner">
                <h3>USA Traffic Deaths 2001-2023</h3>
                <!-- <h3><a href="info">More about roadway.report</a> </h3>  -->
                <fieldset>
                    <label for="layer">Select layer</label>
                    <select id="layer" name="layer">
                        <option value="all">All Roadway Deaths</option>
                        <option value="vehicle">Driver / Passenger Deaths</option>
                        <option value="nonmotorist">Pedestrian / Bike / Other Deaths</option>
                    </select>
                </fieldset>
                <br><br>
                <div id="slider"></div>
                <br>
                <div class="collapsibleMenu w3-padding-large" id="collapsibleMenu">
                    <!-- <h3 style="background-color: lightblue;">Other Resources</h3> -->

                    <div onClick="window.location.href='/';" class="w3-button w3-small" style="width:100%">
                        Map
                    </div>
                    <div onClick="window.location.href='/population';" class="w3-button w3-small" style="width:100%">
                        Population<br>Adjusted Map
                    </div>
                    <div onClick="window.location.href='/county_selector';" class="w3-button w3-small" style="width:100%">
                        Data By County
                    </div>
                    <div onClick="window.location.href='/pedestrian_safety';" class="w3-button w3-small" style="width:100%">
                        Pedestrian<br>Dashboard
                    </div>
                    <div onClick="window.location.href='/missed_connections';" class="w3-button w3-small" style="width:100%">
                        Missed<br>Connections
                    </div>
                    <!-- <h3 style="background-color: lightblue;">Support Us</h3> -->
                    <div onClick="window.location.href='https://roadwayreport.printify.me';" class="w3-button w3-small" style="width:100%">
                        Merch
                    </div>
                    <div onClick="window.location.href='https://ko-fi.com/roadwayreport';" class="w3-button w3-small" style="width:100%">
                        Donate
                    </div>
                    <div onClick="window.location.href='/podcast';" class="w3-button w3-small" style="width:100%">
                        Podcast
                    </div>
                    <div onClick="window.location.href='/info';" class="w3-button w3-small" style="width:100%">
                        About Us
                    </div>
                    
                </div>
                
            <div id = "openButton" class="" >
                <div onClick="openMenu()" class="w3-button w3-large" style="width:100%">
                    <i class="fa fa-bars w3-middle"> Menu</i>
                </div>
            </div>

            <div id = "closeButton" class="" >
                <div onClick="closeMenu()" class="w3-button w3-large" style="width:100%">
                    <i class="fa fa-bars w3-middle"> Close Menu</i>
                </div>
            </div>
            </div>

        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.2.0/wNumb.min.js" integrity="sha512-igVQ7hyQVijOUlfg3OmcTZLwYJIBXU63xL9RC12xBHNpmGJAktDnzl9Iw0J4yrSaQtDxTTVlwhY730vphoVqJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script type="text/javascript">
            var startYear = 2001
            var endYear = 2023
            var slider = document.getElementById('slider');

            noUiSlider.create(slider, {
                start: [startYear, endYear],
                step:1,
                connect: true,
                range: {
                    'min': startYear,
                    'max': endYear
                },
                tooltips: [
                wNumb({decimals: 0}),
                wNumb({decimals: 0})
            ],
            });
            
            slider.noUiSlider.on('change.one', function () { 
                console.log(slider.noUiSlider.get())
                startYear = Math.floor(slider.noUiSlider.get()[0])
                endYear = Math.floor(slider.noUiSlider.get()[1])

                map.getStyle().layers.forEach((layer) => {
                    console.log(layer)
                    if(layer.id != "base-raster"){
                        map.removeLayer(layer.id);
                        map.removeSource(layer.id);
                        }
                    });

                for (i = startYear; i < endYear + 1; i++) {

                    var layerName
                    var sourceUrl
                    var selector = document.getElementById("layer").value
                    if (selector == "all") {
                        console.log("ALL")
                        layerName = `total_fatalities_${i}`
                        sourceUrl =  `{{ TILES_URL }}total_tiles/${i}.pmtiles`
                    }
                    if (selector == "vehicle") {
                        console.log("VEHICLE")
                        layerName = `vehicle_fatalities_${i}`
                        sourceUrl =  `{{ TILES_URL }}vehicle_tiles/${i}.pmtiles`
                    }
                    if (selector == "nonmotorist") {
                        console.log("NONMOTORIST")
                        layerName = `nonmotorist_fatalities_${i}`
                        sourceUrl =  `{{ TILES_URL }}nonmotorist_tiles/${i}.pmtiles`
                    }

                    map.addLayer({
                        id: layerName,
                        type: "circle",
                        source: {
                            url: sourceUrl,
                            type: "vector"
                        },
                        "source-layer": layerName,
                        paint: {
                            "circle-opacity": .3,
                            "circle-color": "darkred",
                            "circle-radius": [
                                "interpolate", ["exponential", 1.1], ["zoom"],
                                2, .3,
                                14, 5
                            ],
                            "circle-stroke-opacity": .6,
                            "circle-stroke-color": "darkred",
                            "circle-stroke-width": [
                                "interpolate", ["exponential", 1.1], ["zoom"],
                                2, 0,
                                14, 1
                            ],
                        }
                    })
                    map.on('mouseenter', `${i}`, () => {map.getCanvas().style.cursor = 'pointer'});
                    map.on('mouseleave', `${i}`, () => {map.getCanvas().style.cursor = ''});
                    }
            });

            let menu = document.getElementById('layer')

            
            menu.addEventListener("change", function(e) {
                console.log(e.target.value)

                map.getStyle().layers.forEach((layer) => {
                    console.log(layer)
                    if(layer.id != "base-raster"){
                        map.removeLayer(layer.id);
                        map.removeSource(layer.id);
                        }
                    });

                for (i = startYear; i < endYear + 1; i++) {

                    var layerName
                    var sourceUrl
                    if (e.target.value == "all") {
                        console.log("ALL")
                        layerName = `total_fatalities_${i}`
                        sourceUrl =  `{{ TILES_URL }}total_tiles/${i}.pmtiles`
                    }
                    if (e.target.value == "vehicle") {
                        console.log("VEHICLE")
                        layerName = `vehicle_fatalities_${i}`
                        sourceUrl =  `{{ TILES_URL }}vehicle_tiles/${i}.pmtiles`
                    }
                    if (e.target.value == "nonmotorist") {
                        console.log("NONMOTORIST")
                        layerName = `nonmotorist_fatalities_${i}`
                        sourceUrl =  `{{ TILES_URL }}nonmotorist_tiles/${i}.pmtiles`
                    }

                    map.addLayer({
                        id: layerName,
                        type: "circle",
                        source: {
                            url: sourceUrl,
                            type: "vector"
                        },
                        "source-layer": layerName,
                        paint: {
                            "circle-opacity": .3,
                            "circle-color": "darkred",
                            "circle-radius": [
                                "interpolate", ["exponential", 1.1], ["zoom"],
                                2, .3,
                                14, 5
                            ],
                            "circle-stroke-opacity": .6,
                            "circle-stroke-color": "darkred",
                            "circle-stroke-width": [
                                "interpolate", ["exponential", 1.1], ["zoom"],
                                2, 0,
                                14, 1
                            ],
                        }
                    })
                    map.on('mouseenter', `${i}`, () => {map.getCanvas().style.cursor = 'pointer'});
                    map.on('mouseleave', `${i}`, () => {map.getCanvas().style.cursor = ''});
                }
            })


            let protocol = new pmtiles.Protocol();
            maplibregl.addProtocol("pmtiles", protocol.tile);
            const url = new URL(window.location.href);
            const params = new URLSearchParams(url.search);
            function getLngLat() {
                
            }
            if (params.has('latitude')) {
                var lat = parseFloat(params.get('latitude')); 
            } else {
                var lat = 45
            }
            if (params.has('longitude')) {
                var lon = parseFloat(params.get('longitude')); 
            } else {
                var lon = -120
            }
            if (params.has('zoom')) {
                var zoom = parseInt(params.get('zoom')); 
            } else {
                var zoom = 3
            }

            var map = new maplibregl.Map({
                container: 'map',
                style: {
                    version: 8,
                    sources: {
                        "base-raster": {
                            type: "raster",
                            tiles: ["https://tile.openstreetmap.org/{z}/{x}/{y}.png"],
                            tileSize: 256,
                            attribution: "© <a href='https://www.openstreetmap.org/copyright' target='_blank'>OpenStreetMap contributors</a> | <a href='https://www.nhtsa.gov/research-data/fatality-analysis-reporting-system-fars' target='_blank'>NHTSA FARS</a>"
                        
                        }
                    },
                    layers: [
                        {
                            id: "base-raster",
                            type: "raster",
                            source: "base-raster",
                            paint: {
                                "raster-saturation": -1,
                            }
                        }
                    ]
                },
                // these are the loading coordinates
                center: [lon, lat],
                zoom: zoom
            });
            const contextMenu = document.getElementById('context-menu');

            map.on('contextmenu', (e) => {
                // Prevent the default context menu
                e.preventDefault();

                // Set the position of the custom context menu
                contextMenu.style.left = `${e.originalEvent.clientX}px`;
                contextMenu.style.top = `${e.originalEvent.clientY}px`;

                // Show the context menu

                var latitude = e.lngLat.lat.toFixed(10)
                var longitude = e.lngLat.lng.toFixed(10)
                
                var redirectUrl = `https://roadway.report/beta?latitude=${latitude}&longitude=${longitude}&zoom=18`
                var googleUrl = `https://google.com/maps/@${latitude},${longitude}`
                contextMenu.innerHTML=`<button onclick="navigator.clipboard.writeText('${redirectUrl}'); alert('${redirectUrl} is copied to your clipboard')">Share This Location</button><button onclick="window.open('https://google.com/maps/place/${latitude},${longitude}');">Open in Google Maps</button>`
                
                contextMenu.style.display = 'block';
            });

            // Hide the context menu on map click
            map.on('click', () => {
                contextMenu.style.display = 'none';
            });

            // Hide the context menu on Escape key press
            document.addEventListener('keydown', (e) => {
                if (e.key === 'Escape') {
                    contextMenu.style.display = 'none';
                }
            });

            map.addControl(
                new maplibregl.GeolocateControl({
                    positionOptions: {
                        enableHighAccuracy: true
                    },
                    trackUserLocation: true
                })
            );   
            // https://hotgarbo.github.io/nhtsa-fars/tiles/2018.pmtiles
            map.on('load', () => {
                for (i = startYear; i < endYear + 1; i++) {
                    map.addLayer({
                        id: `total_fatalities_${i}`,
                        type: "circle",
                        source: {
                            url: `{{ TILES_URL }}total_tiles/${i}.pmtiles`,
                            type: "vector"
                        },
                        "source-layer": `total_fatalities_${i}`,
                        paint: {
                            "circle-opacity": .3,
                            "circle-color": "darkred",
                            "circle-radius": [
                                "interpolate", ["exponential", 1.1], ["zoom"],
                                2, .3,
                                14, 5
                            ],
                            "circle-stroke-opacity": .6,
                            "circle-stroke-color": "darkred",
                            "circle-stroke-width": [
                                "interpolate", ["exponential", 1.1], ["zoom"],
                                2, 0,
                                14, 1
                            ],
                        }
                    })
                    map.on('mouseenter', `${i}`, () => {map.getCanvas().style.cursor = 'pointer'});
                    map.on('mouseleave', `${i}`, () => {map.getCanvas().style.cursor = ''});
                }
                map.on('click', (e) => {
                    const features = map.queryRenderedFeatures(e.point);
                    if (features.length == 0) return;
                    let table = "<table><thead><tr><th>Date</th><th>Deaths</th><th></th></tr></thead>";
                    let total = 0;
                    features.forEach((f, i) => {
                        table += "<tr>";
                        let date = new Date(f.properties.year, f.properties.month-1, f.properties.day);
                        table += `<tr><td>${date.toDateString()}</td>`;
                        let deaths = f.properties.fatalities;
                        total += deaths;
                        table += `<td align='right'>${deaths}</td>`;
                        let id = `${f.properties.year}${String(f.properties.st_case).padStart(6, "0")}`;
                        table += `<td><a href="https://roadway.report/accidents/${id}" target="_blank">Details</a></td>`;
                        table += "</tr>";
                    })
                    table += "</table>";
                    let header = `<h2>${total} Death${total > 1 ? 's' : ''}</h2>`;
                    new maplibregl.Popup()
                        .setLngLat(e.lngLat)
                        .setHTML(header + table)
                        .addTo(map)
                        .addClassName("popup");
                });
                
            });
        </script>
    </body>
</html>

