{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" href="static/css/maplibre-gl.css">
<script src="static/js/maplibre-gl.js"></script>
<script src="static/js/pmtiles.js"></script>
<style>
    body {
        margin: 0;
    }
    html, body, #map {
        height:100%; width:100%;
    }
    .popup .maplibregl-popup-content {
        max-height: 50vh;
        overflow-y: auto;
    }
    h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.1rem;
    }
    h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    }
    h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.2rem;
    }
    .table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    }
    td, th {
    border: 1px solid #ddd;
    padding: 8px;
    width: 50%;
    text-align: center;
    align-items: center;
    position: center;
    }
    .dt {
        width:20%;
        text-wrap: wrap;
        word-break: break-word;
    }
.map-overlay {
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
position: absolute;
width: 200px;
top: 2.25rem;
left: 0;
padding: 10px;
}

.map-overlay .map-overlay-inner {
background-color: #fff;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
border-radius: 3px;
padding: 10px;
margin-bottom: 10px;
}

.map-overlay-inner fieldset {
border: none;
padding: 0;
margin: 0 0 10px;
}

.map-overlay-inner fieldset:last-child {
margin: 0;
}

.map-overlay-inner select {
width: 100%;
}

.map-overlay-inner label {
display: block;
font-weight: bold;
margin: 0 0 5px;
}

.map-overlay-inner button {
display: inline-block;
width: 36px;
height: 20px;
border: none;
cursor: pointer;
}

.map-overlay-inner button:focus {
outline: none;
}

.map-overlay-inner button:hover {
box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.1);
}
.boxlabel{
    padding: 5px;
    font-size: 1rem
}
input {
    padding: 10px
}

</style>

    <title>Colorado Fatal (2001-2024) & Serious Injury (2007-2024) Crashes</title>
    <script defer src="https://cloud.umami.is/script.js" data-website-id="ed28f41a-8cbe-4646-9d15-1b4e9141c713"></script>
{% endblock %}

{% block body %}

    <div id="map"></div>
    <div class="map-overlay top">
        <div class="map-overlay-inner">
            <h1 style="font-size:1.2rem">Colorado Fatal Crashes (2001-2024) & Serious Injuries (2007-2024)</h1>
        </div>
    </div>


<script>


let protocol = new pmtiles.Protocol();
maplibregl.addProtocol("pmtiles", protocol.tile);
var map = new maplibregl.Map({
    container: 'map',
    style: {
        version: 8,
        sources: {
            "base-raster": {
                type: "raster",
                tiles: ["https://tile.openstreetmap.org/{z}/{x}/{y}.png"],
                tileSize: 256,
                attribution: "© <a href='https://www.openstreetmap.org/copyright' target='_blank'>OpenStreetMap contributors</a> | <a href='https://www.nhtsa.gov/research-data/fatality-analysis-reporting-system-fars' target='_blank'>NHTSA FARS | CDOT</a>"
            
            }
        },
        layers: [
            {
                id: "base-raster",
                type: "raster",
                source: "base-raster",
                paint: {
                    "raster-saturation": -1,
                }
            }
        ]
    },
    // these are the loading coordinates
    center: [-104.94,39.74],
    zoom: 7
});

map.on('load', () => {

    map.addLayer({
            id: `colorado_injuries`,
            type: "circle",
            source: {
                url: `{{ TILES_URL }}colorado/colorado_injuries.pmtiles`,
                type: "vector"
            },
            "source-layer": `colorado_injuries`,
            paint: {
                "circle-opacity": .3,
                "circle-color": "red",
                "circle-radius": [
                    "interpolate", ["exponential", 1.1], ["zoom"],
                    2, .3,
                    14, 5
                ],
                "circle-stroke-opacity": .6,
                "circle-stroke-color": "red",
                "circle-stroke-width": [
                    "interpolate", ["exponential", 1.1], ["zoom"],
                    2, 0,
                    14, 1
                ],
            }})
    map.addLayer({
            id: `colorado_fatalities`,
            type: "circle",
            source: {
                url: `{{ TILES_URL }}colorado/colorado_fatalities.pmtiles`,
                type: "vector"
            },
            "source-layer": `colorado_fatalities`,
            paint: {
                "circle-opacity": .3,
                "circle-color": "darkred",
                "circle-radius": [
                    "interpolate", ["exponential", 1.1], ["zoom"],
                    2, .3,
                    14, 5
                ],
                "circle-stroke-opacity": .6,
                "circle-stroke-color": "darkred",
                "circle-stroke-width": [
                    "interpolate", ["exponential", 1.1], ["zoom"],
                    2, 0,
                    14, 1
                ],
            }});



    map.on('mouseenter', `fatalities`, () => {map.getCanvas().style.cursor = 'pointer'});
    map.on('mouseleave', `fatalities`, () => {map.getCanvas().style.cursor = ''});

    map.on('click', (e) => {
        const features = map.queryRenderedFeatures(e.point);
        console.log(features)
        if (features.length == 0) return;
            console.log("This is a roadway death")

        let table = "<table><thead><tr><th>Date</th><th>Deaths</th><th>Severe Injuries</th><th>More Info</tr></thead>";
                features.forEach((f, i) => {
                    console.log(f.properties)
                    table += "<tr>";
                    table += `<tr><td>${f.properties.dt.slice(0,19)}</td>`;
                    let deaths = f.properties.fatalities;
                    let injuries = f.properties.serious_injuries;
                    table += `<td align='right'>${deaths}</td>`;
                    table += `<td align='right'>${injuries}</td>`;
                    // let id = f.properties.id
                    if (f.properties.fatalities > 0) {
                        console.log(f.properties.dt)
                        console.log(typeof f.properties.dt)
                        table += `<td><a href="/accidents/${f.properties.dt.slice(0, 4)}${String(f.properties.st_case).padStart(6, "0")}" target="_blank">Details</a></td>`;
                        table += "</tr>";
                    }
                    else {

                        table += `<td><a href="/injury_accidents/${f.properties.id}" target="_blank">Details</a></td>`;
                        table += "</tr>";
                    }
                })
                table += "</table>";
               
                new maplibregl.Popup()
                    .setLngLat(e.lngLat)
                    .setHTML(table)
                    .addTo(map)
                    .setMaxWidth("350px")
                    .addClassName("popup");
        
    });
})
</script>
<p style='display:none'>ADAMS County accident, ADAMS County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>ELBERT County accident, ELBERT County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>LAS ANIMAS County accident, LAS ANIMAS County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>WASHINGTON County accident, WASHINGTON County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>ALAMOSA County accident, ALAMOSA County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>BOULDER County accident, BOULDER County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>PARK County accident, PARK County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>GUNNISON County accident, GUNNISON County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>PHILLIPS County accident, PHILLIPS County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>CONEJOS County accident, CONEJOS County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>JEFFERSON County accident, JEFFERSON County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>CHEYENNE County accident, CHEYENNE County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>ARCHULETA County accident, ARCHULETA County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>KIOWA County accident, KIOWA County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>LINCOLN County accident, LINCOLN County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>PITKIN County accident, PITKIN County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>LOGAN County accident, LOGAN County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>WELD County accident, WELD County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>ARAPAHOE County accident, ARAPAHOE County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>EAGLE County accident, EAGLE County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>PUEBLO County accident, PUEBLO County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>GARFIELD County accident, GARFIELD County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>LA PLATA County accident, LA PLATA County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>MONTROSE County accident, MONTROSE County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>LARIMER County accident, LARIMER County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>KIT CARSON County accident, KIT CARSON County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>EL PASO County accident, EL PASO County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>GILPIN County accident, GILPIN County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>COSTILLA County accident, COSTILLA County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>SAGUACHE County accident, SAGUACHE County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>DELTA County accident, DELTA County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>SUMMIT County accident, SUMMIT County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>PROWERS County accident, PROWERS County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>FREMONT County accident, FREMONT County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>BROOMFIELD County accident, BROOMFIELD County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>MORGAN County accident, MORGAN County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>CHAFFEE County accident, CHAFFEE County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>BENT County accident, BENT County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>DOLORES County accident, DOLORES County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>MESA County accident, MESA County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>BACA County accident, BACA County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>DOUGLAS County accident, DOUGLAS County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>OTERO County accident, OTERO County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>ROUTT County accident, ROUTT County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>LAKE County accident, LAKE County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>JACKSON County accident, JACKSON County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>MONTEZUMA County accident, MONTEZUMA County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>MOFFAT County accident, MOFFAT County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>MINERAL County accident, MINERAL County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>TELLER County accident, TELLER County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>CROWLEY County accident, CROWLEY County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>RIO GRANDE County accident, RIO GRANDE County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>DENVER County accident, DENVER County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>CLEAR CREEK County accident, CLEAR CREEK County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>YUMA County accident, YUMA County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>SAN MIGUEL County accident, SAN MIGUEL County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>HUERFANO County accident, HUERFANO County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>GRAND County accident, GRAND County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>OURAY County accident, OURAY County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>SEDGWICK County accident, SEDGWICK County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>HINSDALE County accident, HINSDALE County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>RIO BLANCO County accident, RIO BLANCO County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>CUSTER County accident, CUSTER County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>SAN JUAN County accident, SAN JUAN County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>Unknown County County accident, Unknown County County crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>None, CO accident, None, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>COLUMBINE VALLEY, CO accident, COLUMBINE VALLEY, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>STRATTON, CO accident, STRATTON, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>JEFFERSON, CO accident, JEFFERSON, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>SECURITY, CO accident, SECURITY, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>KREMMLING, CO accident, KREMMLING, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>CRAIG, CO accident, CRAIG, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>LAS ANIMAS, CO accident, LAS ANIMAS, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>HOT SULPHUR SPRINGS, CO accident, HOT SULPHUR SPRINGS, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>STEAMBOAT SPRINGS, CO accident, STEAMBOAT SPRINGS, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>FRISCO, CO accident, FRISCO, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>BASALT, CO accident, BASALT, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>SHAWNEE, CO accident, SHAWNEE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>PIERCE, CO accident, PIERCE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>HUGO, CO accident, HUGO, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>LIMON, CO accident, LIMON, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>ILIFF, CO accident, ILIFF, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>ELIZABETH, CO accident, ELIZABETH, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>SAN LUIS, CO accident, SAN LUIS, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>DUMONT, CO accident, DUMONT, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>FORT CARSON, CO accident, FORT CARSON, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>THORNTON, CO accident, THORNTON, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>MANCOS, CO accident, MANCOS, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>AURORA, CO accident, AURORA, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>LOVELAND, CO accident, LOVELAND, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>MONTROSE, CO accident, MONTROSE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>TRINIDAD, CO accident, TRINIDAD, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>EATON, CO accident, EATON, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>WINTER PARK, CO accident, WINTER PARK, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>GROVER, CO accident, GROVER, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>GOLDEN, CO accident, GOLDEN, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>MESA VERDE NAT PK, CO accident, MESA VERDE NAT PK, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>KIRK, CO accident, KIRK, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>BYERS, CO accident, BYERS, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>BOULDER, CO accident, BOULDER, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>SUPERIOR, CO accident, SUPERIOR, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>AULT, CO accident, AULT, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>WIGGINS, CO accident, WIGGINS, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>CRESTED BUTTE, CO accident, CRESTED BUTTE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>COAL CREEK, CO accident, COAL CREEK, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>FOWLER, CO accident, FOWLER, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>COLORADO SPRINGS, CO accident, COLORADO SPRINGS, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>WHITEWATER, CO accident, WHITEWATER, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>GRAND JUNCTION, CO accident, GRAND JUNCTION, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>MEAD, CO accident, MEAD, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>UNITED STATES AIR FORCE ACADEMY, CO accident, UNITED STATES AIR FORCE ACADEMY, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>BRUSH, CO accident, BRUSH, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>CHERRY HILLS VILLAGE, CO accident, CHERRY HILLS VILLAGE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>LOCHBUIE, CO accident, LOCHBUIE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>DIVIDE, CO accident, DIVIDE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>DOVE CREEK, CO accident, DOVE CREEK, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>DACONO, CO accident, DACONO, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>EAGLE, CO accident, EAGLE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>WARD, CO accident, WARD, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>ASPEN, CO accident, ASPEN, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>CREEDE, CO accident, CREEDE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>TIMNATH, CO accident, TIMNATH, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>HUDSON, CO accident, HUDSON, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>ELBERT, CO accident, ELBERT, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>FORT COLLINS, CO accident, FORT COLLINS, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>ARVADA, CO accident, ARVADA, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>CLIFTON, CO accident, CLIFTON, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>LA JUNTA, CO accident, LA JUNTA, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>PLATTEVILLE, CO accident, PLATTEVILLE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>PENROSE, CO accident, PENROSE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>OAK CREEK, CO accident, OAK CREEK, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>LUCERNE, CO accident, LUCERNE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>WESTCLIFFE, CO accident, WESTCLIFFE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>BLACK HAWK, CO accident, BLACK HAWK, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>CAPULIN, CO accident, CAPULIN, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>LYONS, CO accident, LYONS, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>HILLROSE, CO accident, HILLROSE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>OLNEY SPRINGS, CO accident, OLNEY SPRINGS, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>EVANS, CO accident, EVANS, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>WINDSOR, CO accident, WINDSOR, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>PAONIA, CO accident, PAONIA, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>MILNER, CO accident, MILNER, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>CROWLEY, CO accident, CROWLEY, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>PALMER LAKE, CO accident, PALMER LAKE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>VAIL, CO accident, VAIL, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>SILT, CO accident, SILT, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>DELTA, CO accident, DELTA, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>ORCHARD CITY, CO accident, ORCHARD CITY, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>COMMERCE CITY, CO accident, COMMERCE CITY, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>BRIGGSDALE, CO accident, BRIGGSDALE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>ESTES PARK, CO accident, ESTES PARK, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>GREELEY, CO accident, GREELEY, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>CEDAREDGE, CO accident, CEDAREDGE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>MAYBELL, CO accident, MAYBELL, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>SEDALIA, CO accident, SEDALIA, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>CRAWFORD, CO accident, CRAWFORD, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>BUENA VISTA, CO accident, BUENA VISTA, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>HOTCHKISS, CO accident, HOTCHKISS, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>RANGELY, CO accident, RANGELY, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>LA VETA, CO accident, LA VETA, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>BRIGHTON, CO accident, BRIGHTON, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>STERLING, CO accident, STERLING, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>LAKEWOOD, CO accident, LAKEWOOD, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>WRAY, CO accident, WRAY, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>WILLIAMSBURG, CO accident, WILLIAMSBURG, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>BAYFIELD, CO accident, BAYFIELD, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>FORT LUPTON, CO accident, FORT LUPTON, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>GREEN MOUNTAIN FALLS, CO accident, GREEN MOUNTAIN FALLS, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>CASTLE ROCK, CO accident, CASTLE ROCK, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>PAGOSA SPRINGS, CO accident, PAGOSA SPRINGS, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>SEDGWICK, CO accident, SEDGWICK, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>KEENESBURG, CO accident, KEENESBURG, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>LAPORTE, CO accident, LAPORTE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>DURANGO, CO accident, DURANGO, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>ERIE, CO accident, ERIE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>SALIDA, CO accident, SALIDA, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>CENTRAL CITY, CO accident, CENTRAL CITY, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>HIGHLANDS RANCH, CO accident, HIGHLANDS RANCH, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>GREENWOOD VILLAGE, CO accident, GREENWOOD VILLAGE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>PUEBLO WEST, CO accident, PUEBLO WEST, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>GEORGETOWN, CO accident, GEORGETOWN, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>FREDERICK, CO accident, FREDERICK, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>FRASER, CO accident, FRASER, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>LAMAR, CO accident, LAMAR, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>BRECKENRIDGE, CO accident, BRECKENRIDGE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>PEETZ, CO accident, PEETZ, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>FEDERAL HEIGHTS, CO accident, FEDERAL HEIGHTS, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>RAYMER, CO accident, RAYMER, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>PARACHUTE, CO accident, PARACHUTE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>DINOSAUR, CO accident, DINOSAUR, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>JOHNSTOWN, CO accident, JOHNSTOWN, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>WALSENBURG, CO accident, WALSENBURG, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>LOUVIERS, CO accident, LOUVIERS, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>SEIBERT, CO accident, SEIBERT, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>SILVERTON, CO accident, SILVERTON, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>GILL, CO accident, GILL, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>SNOWMASS VILLAGE, CO accident, SNOWMASS VILLAGE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>EDWARDS, CO accident, EDWARDS, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>HAXTUN, CO accident, HAXTUN, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>PONCHA SPRINGS, CO accident, PONCHA SPRINGS, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>COLLBRAN, CO accident, COLLBRAN, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>WESTMINSTER, CO accident, WESTMINSTER, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>FRUITA, CO accident, FRUITA, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>BRISTOL, CO accident, BRISTOL, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>KIT CARSON, CO accident, KIT CARSON, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>OLATHE, CO accident, OLATHE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>WIDEFIELD, CO accident, WIDEFIELD, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>ALLENSPARK, CO accident, ALLENSPARK, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>LONE TREE, CO accident, LONE TREE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>FAIRPLAY, CO accident, FAIRPLAY, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>LOG LANE VILLAGE, CO accident, LOG LANE VILLAGE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>ENGLEWOOD, CO accident, ENGLEWOOD, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>MINTURN, CO accident, MINTURN, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>BROOMFIELD, CO accident, BROOMFIELD, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>DEL NORTE, CO accident, DEL NORTE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>NEW CASTLE, CO accident, NEW CASTLE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>MOUNTAIN VIEW, CO accident, MOUNTAIN VIEW, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>CASCADE, CO accident, CASCADE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>TELLURIDE, CO accident, TELLURIDE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>ELK SPRINGS, CO accident, ELK SPRINGS, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>AVON, CO accident, AVON, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>PARKER, CO accident, PARKER, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>GILCREST, CO accident, GILCREST, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>FLEMING, CO accident, FLEMING, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>DEER TRAIL, CO accident, DEER TRAIL, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>IDAHO SPRINGS, CO accident, IDAHO SPRINGS, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>WATKINS, CO accident, WATKINS, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>BOONE, CO accident, BOONE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>WILEY, CO accident, WILEY, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>NEDERLAND, CO accident, NEDERLAND, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>GUNNISON, CO accident, GUNNISON, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>CARBONDALE, CO accident, CARBONDALE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>PHIPPSBURG, CO accident, PHIPPSBURG, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>PUEBLO, CO accident, PUEBLO, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>MOFFAT, CO accident, MOFFAT, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>COLORADO CITY, CO accident, COLORADO CITY, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>PALISADE, CO accident, PALISADE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>LOMA, CO accident, LOMA, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>CONIFER, CO accident, CONIFER, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>RIFLE, CO accident, RIFLE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>COALMONT, CO accident, COALMONT, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>HAYDEN, CO accident, HAYDEN, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>FORT GARLAND, CO accident, FORT GARLAND, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>SWINK, CO accident, SWINK, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>STRASBURG, CO accident, STRASBURG, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>MEEKER, CO accident, MEEKER, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>NIWOT, CO accident, NIWOT, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>NORTHGLENN, CO accident, NORTHGLENN, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>SUGAR CITY, CO accident, SUGAR CITY, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>BURLINGTON, CO accident, BURLINGTON, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>TOWAOC, CO accident, TOWAOC, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>MORRISON, CO accident, MORRISON, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>BENNETT, CO accident, BENNETT, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>NUNN, CO accident, NUNN, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>ANTONITO, CO accident, ANTONITO, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>WELLINGTON, CO accident, WELLINGTON, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>LEADVILLE, CO accident, LEADVILLE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>MILLIKEN, CO accident, MILLIKEN, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>SILVERTHORNE, CO accident, SILVERTHORNE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>GOULD, CO accident, GOULD, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>BOW MAR, CO accident, BOW MAR, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>JULESBURG, CO accident, JULESBURG, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>CHEYENNE WELLS, CO accident, CHEYENNE WELLS, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>SILVER PLUME, CO accident, SILVER PLUME, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>LITTLETON, CO accident, LITTLETON, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>KERSEY, CO accident, KERSEY, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>GLENDALE, CO accident, GLENDALE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>SANFORD, CO accident, SANFORD, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>RAMAH, CO accident, RAMAH, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>LOWRY AIR FORCE BASE (HISTORICAL), CO accident, LOWRY AIR FORCE BASE (HISTORICAL), CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>FORT MORGAN, CO accident, FORT MORGAN, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>FLORENCE, CO accident, FLORENCE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>FRANKTOWN, CO accident, FRANKTOWN, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>SPRINGFIELD, CO accident, SPRINGFIELD, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>GARDEN CITY, CO accident, GARDEN CITY, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>AVONDALE, CO accident, AVONDALE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>YUMA, CO accident, YUMA, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>CORTEZ, CO accident, CORTEZ, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>IGNACIO, CO accident, IGNACIO, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>EDGEWATER, CO accident, EDGEWATER, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>DOLORES, CO accident, DOLORES, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>WHEAT RIDGE, CO accident, WHEAT RIDGE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>RIDGWAY, CO accident, RIDGWAY, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>CENTENNIAL, CO accident, CENTENNIAL, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>MONUMENT, CO accident, MONUMENT, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>NATURITA, CO accident, NATURITA, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>MANITOU SPRINGS, CO accident, MANITOU SPRINGS, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>CENTER, CO accident, CENTER, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>FIRESTONE, CO accident, FIRESTONE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>SEVERANCE, CO accident, SEVERANCE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>EDGEMONT, CO accident, EDGEMONT, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>PETERSON ARMY AIR FIELD (HISTORICAL), CO accident, PETERSON ARMY AIR FIELD (HISTORICAL), CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>DILLON, CO accident, DILLON, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>GLENWOOD SPRINGS, CO accident, GLENWOOD SPRINGS, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>LOUISVILLE, CO accident, LOUISVILLE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>GRANBY, CO accident, GRANBY, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>ECKLEY, CO accident, ECKLEY, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>MANZANOLA, CO accident, MANZANOLA, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>SIMLA, CO accident, SIMLA, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>FLAGLER, CO accident, FLAGLER, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>MERINO, CO accident, MERINO, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>SHERIDAN, CO accident, SHERIDAN, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>OURAY, CO accident, OURAY, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>ALAMOSA, CO accident, ALAMOSA, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>BAILEY, CO accident, BAILEY, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>LAKE CITY, CO accident, LAKE CITY, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>HOLYOKE, CO accident, HOLYOKE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>LAFAYETTE, CO accident, LAFAYETTE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>ROMEO, CO accident, ROMEO, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>MONTE VISTA, CO accident, MONTE VISTA, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>BERTHOUD, CO accident, BERTHOUD, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>LONGMONT, CO accident, LONGMONT, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>EADS, CO accident, EADS, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>LA SALLE, CO accident, LA SALLE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>CRIPPLE CREEK, CO accident, CRIPPLE CREEK, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>MCCLAVE, CO accident, MCCLAVE, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>GYPSUM, CO accident, GYPSUM, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>NUCLA, CO accident, NUCLA, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>EVERGREEN, CO accident, EVERGREEN, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>FOUNTAIN, CO accident, FOUNTAIN, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>ROCKY FORD, CO accident, ROCKY FORD, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>HOLLY, CO accident, HOLLY, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>WOODLAND PARK, CO accident, WOODLAND PARK, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>PAOLI, CO accident, PAOLI, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>CAÑON CITY, CO accident, CAÑON CITY, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
<p style='display:none'>DENVER, CO accident, DENVER, CO crash, Fatal car accident data, serious car accident report, car accident map</p>
{% endblock %}