<!DOCTYPE html>
<html>
    <style>
        h1 {text-align: center;}
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.7.2/dist/axios.min.js"></script>
    <script>
        async function get_data() {
                await axios.get("/total_fatalities?county_id=48453").then((response)=>{
                    console.log(response.data)
                    console.log(response.data.labels)
                    console.log(response.data.total_fatalities);
                    const TOTAL_FATALITIES = response.data.total_fatalities;
                    const PEDESTRIAN_FATALITIES = response.data.pedestrian_fatalities;
                    const LABELS = response.data.labels;
                    new Chart(document.getElementById("total-fatalities"), {
                        type: "line",
                        data: {
                            labels: LABELS,
                            datasets: [
                            {
                                data: TOTAL_FATALITIES,
                                label: "Annual Roadway Deaths",
                                borderColor: "#3e95cd",
                                fill: false
                            },
                            ]
                        },
                        options: {
                            title: {
                            display: true,
                            responsive: true,
                            text: "Annual Roadway Deaths in {{ county.name }} County"
                            },
                            scales: {
                            y: {
                                min: 0
                            }
                            }
                        }
                        });
                    new Chart(document.getElementById("breakdown"), {
                        type: "line",
                        data: {
                            labels: LABELS,
                            datasets: [
                            {
                                data: PEDESTRIAN_FATALITIES,
                                label: "Annual Pedestrian Roadway Deaths",
                                borderColor: "#8e5ea2",
                                fill: false
                            },
                            ]
                        },
                        options: {
                            title: {
                            display: true,
                            responsive: true,
                            text: "Types of Roadway Deaths in {{ county.name }} County"
                            },
                            scales: {
                            y: {
                                min: 0
                            }
                            }
                        }
                        });
                }
            )
        }
        
    </script>
  <head>
    <title>{{county.name}} County Dashboard</title>
    <meta charset="UTF-8" />
  </head>

  <body>
    <h1>
        {{county.name}} County Dashboard
    </h1>
    <canvas id="total-fatalities" width="800" height="300"></canvas>
    
    <canvas id="breakdown" width="800" height="300"></canvas>



    <script> 
        
        get_data()
        </script>
  </body>
</html>
