<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script> 
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />    
<script src="static/leaflet_menu.js"></script>
<link rel="stylesheet" type="text/css" href="static/leaflet_menu.css"></link>
<style>
    body {
        background-color: lavenderblush
    }
    .leaflet-menu{
        background-color: lavenderblush;
    }
    /* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  z-index: 10000;
  font-size: 3rem;
}

h1 {
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      font-size: 2rem;
    }
    h2 {
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      font-size: 1.7rem;
    }
    .table{
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      margin-left: auto;
      margin-right: auto;
      width:100%;
    }
    td {
      border: 1px solid #ddd;
      padding: 8px;
      padding-top: 30px;
      width: 50%;
      width:100%;
    }
    .leaflet-popup-content-wrapper h1, h2 {
        font-size: 1.35rem;
        margin: 10px
    }
</style>
</head>

<body>
    <div class="centered" id="loading"></div>
  <div id="my_map" style="height: 100%"></div><script src="https://cdn.jsdelivr.net/npm/leaflet-calendar@1.1.4/js/leaflet-calendar.min.js"></script>
  <script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    var lat = urlParams.get('lat')
    var lon = urlParams.get('lon')
    const radius = urlParams.get('radius')
    const map = L.map('my_map', {tap: false})
    var startDate = "2001-01-01"
    var endDate = "2023-01-01"
    L.Control.geocoder().addTo(map);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
    map.setView([lat, lon], 13);
    var layerGroup = new L.LayerGroup();
    async function selectMinDate(value){
        console.log("min")
        console.log(value)
        startDate = value
        await onUpdateCalendar()
    }
    L.control.calendar({
            label: "hi",
            minDate: "2001-01-01",
            maxDate: "2023-01-01",
            value: startDate,
            onSelectDate: (value) => this.selectMinDate(value),
            position: "topleft",
        }).addTo(map);
    async function selectMaxDate(value){
        console.log("max")
        console.log(value)
        endDate = value
        await onUpdateCalendar()
    }
    L.control.calendar({
            id: 2,
            title: "HIIII",
            minDate: "2001-01-01",
            maxDate: "2023-01-01",
            value: endDate,
            onSelectDate: (value) => this.selectMaxDate(value),
            position: "topleft",
        }).addTo(map);

        L.control.slideMenu(`
        <h1>Roadway Report</h1>
        <h2>The Nationwide Vision-Zero Map</h2>
        <br><br>
        <table>
            
            <tr><td><h1><a href='https://patreon.com/visionzero'>Support This Project!</a></h1></td></tr>
            <tr><td><h2><a href='https://github.com/bencarneiro/ntsb'>Source Code</a></h2></td></tr>
                <tr><td><h2><a href='https://roadway.report/v1/docs'>Free API Docs</a></h2></td></tr>
                    <tr><td><h2><a href='https://bencarneiro.com/@ben'>The Developer</a></h2></td></tr>
                        <tr><td><h2><a href="mailto:hello@bencarneiro.com">Get In Touch</a></h2></td></tr>
    </table>
        
        
        `).addTo(map);
    async function load_shapefile(lon, lat) {
    document.getElementById('loading').innerHTML+= "<center>loading...</center>";
      let url = `/v1/accidents_by_location_geojson?lat=${lat}&lon=${lon}&radius=3&datetime__gte=${startDate}T00:00:00&datetime__lte=${endDate}T00:00:00`;
      const response = await fetch(url)

      const shape_obj = await response.json();
      console.log(shape_obj);
      return shape_obj;
    }

    async function main() {

    // var layerGroup = new L.LayerGroup();
      const json = await load_shapefile(lon, lat);

        layerGroup.addTo(map);

        layerGroup.addLayer(
            L.geoJson(
                json,
                {
                    onEachFeature: function (feature, layer) {
                        if (feature.properties.fatalities > 1) {
                            layer.bindPopup(
                            `<h1>${feature.properties.fatalities} Deaths</h1><h2>${new Date(feature.properties.datetime).toDateString()}</h2><h2>${feature.properties.link}</h2>`
                            
                        );
                        } else {
                            layer.bindPopup(
                            `<h1>${feature.properties.fatalities} Death</h1><h2>${new Date(feature.properties.datetime).toDateString()}</h2><h2>${feature.properties.link}</h2>`
                            
                        );
                        }
                    }
                }

            )
        );

        document.getElementById('loading').innerHTML = "";
    //   L.geoJson(json).addTo(map);
    }

    main();
    async function onMapClick(e) {
        // alert("You clicked the map at " + e.latlng);
        console.log(e.latlng.lat)
        lat = e.latlng.lat
        lon = e.latlng.lng
        console.log(e.latlng.lng)
        console.log("HIIIII")
        map.eachLayer(function (layer) {
            console.log(layer)
        });
        layerGroup.clearLayers()
        // map.removeLayer(layerGroup);

        const json = await load_shapefile(e.latlng.lng, e.latlng.lat);
        layerGroup.addLayer(
            L.geoJson(
                json,
                {
                    onEachFeature: function (feature, layer) {
                        if (feature.properties.fatalities > 1) {
                            layer.bindPopup(
                            `<h1>${feature.properties.fatalities} Deaths</h1><h2>${new Date(feature.properties.datetime).toDateString()}</h2><h2>${feature.properties.link}</h2>`
                            
                        );
                        } else {
                            layer.bindPopup(
                            `<h1>${feature.properties.fatalities} Death</h1><h2>${new Date(feature.properties.datetime).toDateString()}</h2><h2>${feature.properties.link}</h2>`
                            
                        );
                        }
                    }
                }

            )
        );

        document.getElementById('loading').innerHTML = "";
        
    }
    async function onUpdateCalendar() {
        layerGroup.clearLayers()
        const json = await load_shapefile(lon, lat);
        layerGroup.addLayer(
            L.geoJson(
                json,
                {
                    onEachFeature: function (feature, layer) {
                        if (feature.properties.fatalities > 1) {
                            layer.bindPopup(
                            `<h1>${feature.properties.fatalities} Deaths</h1><h2>${new Date(feature.properties.datetime).toDateString()}</h2><h2>${feature.properties.link}</h2>`
                            
                        );
                        } else {
                            layer.bindPopup(
                            `<h1>${feature.properties.fatalities} Death</h1><h2>${new Date(feature.properties.datetime).toDateString()}</h2><h2>${feature.properties.link}</h2>`
                            
                        );
                        }
                    }
                }

            )
        );

        document.getElementById('loading').innerHTML = "";
        
    }
    map.on('click', onMapClick);

  </script>
</body>

</html>