

<link rel="stylesheet" href="static/css/maplibre-gl.css">
<script src="static/js/maplibre-gl.js"></script>
<script src="static/js/pmtiles.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body {
        margin: 0;
    }
    html, body, #map {
        height:100%; width:100%;
    }
    .popup .maplibregl-popup-content {
        max-height: 50vh;
        overflow-y: auto;
    }
    h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 4rem;
    }
    h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    }
    h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.2rem;
    }
    .table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto
    }
    td, th {
    border: 1px solid #ddd;
    padding: 8px;
    width: 50%;
    text-align: center;
    align-items: center;
    position: center;
    }
    .dt {
        width:20%;
        text-wrap: wrap;
        word-break: break-word;
    }
.map-overlay {
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
position: absolute;
width: 250px;
top: 0;
left: 0;
padding: 10px;
}

.map-overlay .map-overlay-inner {
background-color: #fff;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
border-radius: 3px;
padding: 10px;
margin-bottom: 10px;
}

.map-overlay-inner fieldset {
border: none;
padding: 0;
margin: 0 0 10px;
}

.map-overlay-inner fieldset:last-child {
margin: 0;
}

.map-overlay-inner select {
width: 100%;
}

.map-overlay-inner label {
display: block;
font-weight: bold;
margin: 0 0 5px;
}
/* 
.map-overlay-inner button {
display: inline-block;
width: 35px;
height: 35px;
border: none;
cursor: pointer;
} */

.map-overlay-inner button:focus {
outline: none;
}

.map-overlay-inner button:hover {
box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.1);
}

#collapsibleMenu {
            display: none;
        }
        #openButton {
            display: block;
        }
        #closeButton {
            display: none;
        }

</style>
<head>

    <title>Per Capita Roadway Fatality Rate By Census Tract (2001-2022)</title>
</head>

<script>

    function regularMap() {

        map.getStyle().layers.forEach((layer) => {
                    console.log(layer)
                    if(layer.id != "base-raster"){
                        map.removeLayer(layer.id);
                        map.removeSource(layer.id);
                        }
                    });

        map.addLayer({
        id: "total_fatalities",
        type: "fill-extrusion",
        source: {
            // url: "pmtiles://http://127.0.0.1:8080/total_fatalities.pmtiles",
            url: "{{ TILES_URL }}population/total_fatalities.pmtiles",
            type: "vector"
        },
        "source-layer": "total_fatalities",
        'paint': {
                // See the MapLibre Style Specification for details on data expressions.
                // https://maplibre.org/maplibre-style-spec/expressions/
                'fill-extrusion-color': [
                      'interpolate',
                      ['linear'],
                      ['get', 'total_fatality_rate'],  0, "green", .005, 'red'
                  ],

                // Get fill-extrusion-height from the source 'height' property.
                'fill-extrusion-height': ['get', 'ppsm'],

                // // Get fill-extrusion-base from the source 'base_height' property.
                // 'fill-extrusion-base': ['get', 'base_height'],

                // // Make extrusions slightly opaque for see through indoor walls.
                'fill-extrusion-opacity': 0.8
            }
    })

    }

    function pedestrianMap() {

        map.getStyle().layers.forEach((layer) => {
                    console.log(layer)
                    if(layer.id != "base-raster"){
                        map.removeLayer(layer.id);
                        map.removeSource(layer.id);
                        }
                    });

        map.addLayer({
        id: "total_fatalities",
        type: "fill-extrusion",
        source: {
            // url: "pmtiles://http://127.0.0.1:8080/total_fatalities.pmtiles",
            url: "{{ TILES_URL }}population/nonmotorist_fatalities.pmtiles",
            type: "vector"
        },
        "source-layer": "nonmotorist_fatalities",
        'paint': {
                // See the MapLibre Style Specification for details on data expressions.
                // https://maplibre.org/maplibre-style-spec/expressions/
                'fill-extrusion-color': [
                      'interpolate',
                      ['linear'],
                      ['get', 'nonmotorist_fatality_rate'],  0, "green", .0015, 'red'
                  ],

                // Get fill-extrusion-height from the source 'height' property.
                'fill-extrusion-height': ['get', 'ppsm'],

                // // Get fill-extrusion-base from the source 'base_height' property.
                // 'fill-extrusion-base': ['get', 'base_height'],

                // // Make extrusions slightly opaque for see through indoor walls.
                'fill-extrusion-opacity': 0.8
            }
    })


    }

    function toggleLayerVisibility(layerId, isVisible) {
        map.setLayoutProperty(layerId, 'visibility', 
            isVisible ? 'visible' : 'none'
        );
    }

    // Example usage:

    function toggleOn() {    
    toggleLayerVisibility('total_fatalities', true);  // Show the layer
    }
    function toggleOff() {    
    toggleLayerVisibility('total_fatalities', false); // Hide the layer
    }
    function flatten() {
        map.setPaintProperty('total_fatalities','fill-extrusion-height', 0)
    }
    function unFlatten() {
        map.setPaintProperty('total_fatalities','fill-extrusion-height', ['get', 'ppsm'])
    }
</script>
<script>
    function openMenu() {

        document.getElementById("closeButton").style.display = "block";
        document.getElementById("openButton").style.display = "none";
        document.getElementById("collapsibleMenu").style.display = "block";
        
    }
    function closeMenu() {

        document.getElementById("closeButton").style.display = "none";
        document.getElementById("openButton").style.display = "block";
        document.getElementById("collapsibleMenu").style.display = "none";
    }
</script>
<body>

    <div id="map"></div>
    <div class="map-overlay top">
        <div class="map-overlay-inner">
            <h3>Per Capita Roadway Fatality Rate By Census Tract (2001-2022)</h3>

            <button class="w3-button w3-small" onclick=toggleOn()>Display Data</button>
            <button class="w3-button w3-small" onclick=toggleOff()>Hide Data</button>
            <button class="w3-button w3-small" onclick=flatten()>2-D Map</button>
            <button class="w3-button w3-small" onclick=unFlatten()>3-D Map</button>
            <button class="w3-button w3-small" onclick=regularMap()>All Deaths</button>
            <button class="w3-button w3-small" onclick=pedestrianMap()>Pedestrian Only</button>
            
            <br>
            <div class="collapsibleMenu w3-padding-large" id="collapsibleMenu">
                <!-- <h3 style="background-color: lightblue;">Other Resources</h3> -->

                <div onClick="window.location.href='/';" class="w3-button w3-small" style="width:100%">
                    Map
                </div>
                <div onClick="window.location.href='/population';" class="w3-button w3-small" style="width:100%">
                    Population<br>Adjusted Map
                </div>
                <div onClick="window.location.href='/county_selector';" class="w3-button w3-small" style="width:100%">
                    Data By County
                </div>
                <div onClick="window.location.href='/pedestrian_safety';" class="w3-button w3-small" style="width:100%">
                    Pedestrian<br>Dashboard
                </div>
                <div onClick="window.location.href='/missed_connections';" class="w3-button w3-small" style="width:100%">
                    Missed<br>Connections
                </div>
                <!-- <h3 style="background-color: lightblue;">Support Us</h3> -->
                <div onClick="window.location.href='https://roadway-report.printify.me';" class="w3-button w3-small" style="width:100%">
                    Merch
                </div>
                <div onClick="window.location.href='https://ko-fi.com/roadwayreport';" class="w3-button w3-small" style="width:100%">
                    Donate
                </div>
                <div onClick="window.location.href='/podcast';" class="w3-button w3-small" style="width:100%">
                    Podcast
                </div>
                <div onClick="window.location.href='/info';" class="w3-button w3-small" style="width:100%">
                    About Us
                </div>
                
                
            </div>
            
        <div id = "openButton" class="" >
            <div onClick="openMenu()" class="w3-button w3-large" style="width:100%">
                <i class="fa fa-bars w3-middle"> Menu</i>
            </div>
        </div>

        <div id = "closeButton" class="" >
            <div onClick="closeMenu()" class="w3-button w3-large" style="width:100%">
                <i class="fa fa-bars w3-middle"> Close Menu</i>
            </div>
        </div>
        </div>
    </div>
</body>

<script>


let protocol = new pmtiles.Protocol();
maplibregl.addProtocol("pmtiles", protocol.tile);
var map = new maplibregl.Map({
    container: 'map',
    style: {
        version: 8,
        sources: {
            "base-raster": {
                type: "raster",
                tiles: ["https://tile.openstreetmap.org/{z}/{x}/{y}.png"],
                tileSize: 256,
                attribution: "© <a href='https://www.openstreetmap.org/copyright' target='_blank'>OpenStreetMap contributors</a>"
            
            }
        },
        layers: [
            {
                id: "base-raster",
                type: "raster",
                source: "base-raster",
                paint: {
                    "raster-saturation": -1,
                }
            }
        ]
    },

    // these are the loading coordinates
    center: [-100,32],
    zoom: 5.5
});

map.on('load', () => {


    map.addLayer({
        id: "total_fatalities",
        type: "fill-extrusion",
        source: {
            // url: "pmtiles://http://127.0.0.1:8080/total_fatalities.pmtiles",
            url: "{{ TILES_URL }}population/total_fatalities.pmtiles",
            type: "vector"
        },
        "source-layer": "total_fatalities",
        'paint': {
                // See the MapLibre Style Specification for details on data expressions.
                // https://maplibre.org/maplibre-style-spec/expressions/
                'fill-extrusion-color': [
                      'interpolate',
                      ['linear'],
                      ['get', 'total_fatality_rate'],  0, "green", .005, 'red'
                  ],

                // Get fill-extrusion-height from the source 'height' property.
                'fill-extrusion-height': ['get', 'ppsm'],

                // // Get fill-extrusion-base from the source 'base_height' property.
                // 'fill-extrusion-base': ['get', 'base_height'],

                // // Make extrusions slightly opaque for see through indoor walls.
                'fill-extrusion-opacity': 0.8
            }
    })


    map.on('mouseenter', `fatalities`, () => {map.getCanvas().style.cursor = 'pointer'});
    map.on('mouseleave', `fatalities`, () => {map.getCanvas().style.cursor = ''});

    map.on('click', (e) => {
        const features = map.queryRenderedFeatures(e.point);
        console.log(e)
        console.log(features)
        if (features.length == 0) return;
        let table = "<table><thead><tr><th>Tract</th><th>People Per Square Mile</th><th>Roadway Fatalities Per Capita</th></tr></thead>";
        let total = 0;
        features.forEach((f, i) => {
            table += "<tr>";
            table += `<tr><td>${f.properties.NAME_x}</td>`;
            table += `<td>${f.properties.ppsm}</td>`;
            table += `<td>${Math.round(f.properties.total_fatality_rate * 100000) / 100000}</td>`;
            table += "</tr>";
        })
        table += "</table>";
        new maplibregl.Popup()
            .setLngLat(e.lngLat)
            .setHTML(table)
            .addTo(map)
            .addClassName("popup");
    });
})
</script>