<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
        }
        h1, h2 {
            color: #333;
        }
        a {
            color: #0066cc;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Privacy Policy</h1>
    <p>Welcome to roadway.report. Your privacy is important to us, and this Privacy Policy outlines the types of information we collect and how we use and protect it.</p>

    <h2>Information We Collect</h2>
    <ul>
        <li>Personal Information: When you interact with our website, you may provide personal information such as your name, email address, and phone number.</li>
        <li>Non-Personal Information: We may collect non-personal data such as browser type, IP address, and usage statistics.</li>
    </ul>

    <h2>How We Use Your Information</h2>
    <p>We use the information we collect for the following purposes:</p>
    <ul>
        <li>To provide and improve our services.</li>
        <li>To respond to your inquiries and provide customer support.</li>
        <li>To analyze website usage and enhance user experience.</li>
    </ul>
    <p>We don't:</p>
    <ul>
        <li>Sell Your data</li>
        <li>Publish your data</li>
    </ul>

    <h2>Data Protection</h2>
    <p>We implement reasonable security measures to protect your data from unauthorized access, alteration, or disclosure. However, no method of transmission over the internet is entirely secure.</p>

    <h2>Third-Party Services</h2>
    <p>We may use third-party services to enhance our website. These services may collect data in accordance with their own privacy policies. We encourage you to review their policies as well.</p>

    <h2>Contact Us</h2>
    <p>If you have any questions about this Privacy Policy, please contact <a href="mailto:ben@roadway.report">ben</a>.</p>

    <p><small>Last updated: 2024-12-29</small></p>
</body>
</html>
