

<link rel="stylesheet" href="static/css/maplibre-gl.css">
<script src="static/js/maplibre-gl.js"></script>
<script src="static/js/pmtiles.js"></script>
<style>
    body {
        margin: 0;
    }
    html, body, #map {
        height:100%; width:100%;
    }
    .popup .maplibregl-popup-content {
        max-height: 50vh;
        overflow-y: auto;
    }
</style>


<body>

    <div id="map"></div>
</body>

<script>


let protocol = new pmtiles.Protocol();
maplibregl.addProtocol("pmtiles", protocol.tile);
var map = new maplibregl.Map({
    container: 'map',
    style: {
        version: 8,
        sources: {
            "base-raster": {
                type: "raster",
                tiles: ["https://tile.openstreetmap.org/{z}/{x}/{y}.png"],
                tileSize: 256,
                attribution: "© <a href='https://www.openstreetmap.org/copyright' target='_blank'>OpenStreetMap contributors</a> | <a href='https://www.nhtsa.gov/research-data/fatality-analysis-reporting-system-fars' target='_blank'>NHTSA FARS</a>"
            
            }
        },
        layers: [
            {
                id: "base-raster",
                type: "raster",
                source: "base-raster",
                paint: {
                    "raster-saturation": -1,
                }
            }
        ]
    },
    // these are the loading coordinates
    center: [-89,30],
    zoom: 4
});

map.on('load', () => {

    map.addLayer({
        id: "fatalities",
        type: "circle",
        source: {
            url: "pmtiles://static/tiles/texas_tiles/fatalities.pmtiles",
            type: "vector"
        },
        "source-layer": "fatalities",
        paint: {
            "circle-opacity": .3,
            "circle-color": "darkred",
            "circle-radius": [
                "interpolate", ["exponential", 1.1], ["zoom"],
                2, .3,
                14, 5
            ],
            "circle-stroke-opacity": .6,
            "circle-stroke-color": "darkred",
            "circle-stroke-width": [
                "interpolate", ["exponential", 1.1], ["zoom"],
                2, 0,
                14, 1
            ],
        }
    })

    map.addLayer({
        id: "serious_injuries",
        type: "circle",
        source: {
            url: "pmtiles://static/tiles/texas_tiles/serious_injuries.pmtiles",
            type: "vector"
        },
        "source-layer": "serious_injuries",
        paint: {
            "circle-opacity": .3,
            "circle-color": "red",
            "circle-radius": [
                "interpolate", ["exponential", 1.1], ["zoom"],
                2, .3,
                14, 5
            ],
            "circle-stroke-opacity": .6,
            "circle-stroke-color": "red",
            "circle-stroke-width": [
                "interpolate", ["exponential", 1.1], ["zoom"],
                2, 0,
                14, 1
            ],
        }
    })

    map.addLayer({
        id: "minor_injuries",
        type: "circle",
        source: {
            url: "pmtiles://static/tiles/texas_tiles/minor_injuries.pmtiles",
            type: "vector"
        },
        "source-layer": "minor_injuries",
        paint: {
            "circle-opacity": .3,
            "circle-color": "orange",
            "circle-radius": [
                "interpolate", ["exponential", 1.1], ["zoom"],
                2, .3,
                14, 5
            ],
            "circle-stroke-opacity": .6,
            "circle-stroke-color": "orange",
            "circle-stroke-width": [
                "interpolate", ["exponential", 1.1], ["zoom"],
                2, 0,
                14, 1
            ],
        }
    })

    map.addLayer({
        id: "possible_injuries",
        type: "circle",
        source: {
            url: "pmtiles://static/tiles/texas_tiles/possible_injuries.pmtiles",
            type: "vector"
        },
        "source-layer": "possible_injuries",
        paint: {
            "circle-opacity": .3,
            "circle-color": "yellow",
            "circle-radius": [
                "interpolate", ["exponential", 1.1], ["zoom"],
                2, .3,
                14, 5
            ],
            "circle-stroke-opacity": .6,
            "circle-stroke-color": "yellow",
            "circle-stroke-width": [
                "interpolate", ["exponential", 1.1], ["zoom"],
                2, 0,
                14, 1
            ],
        }
    })

    map.addLayer({
        id: "no_injuries",
        type: "circle",
        source: {
            url: "pmtiles://static/tiles/texas_tiles/no_injuries.pmtiles",
            type: "vector"
        },
        "source-layer": "no_injuries",
        paint: {
            "circle-opacity": .3,
            "circle-color": "yellow",
            "circle-radius": [
                "interpolate", ["exponential", 1.1], ["zoom"],
                2, .3,
                14, 5
            ],
            "circle-stroke-opacity": .6,
            "circle-stroke-color": "yellow",
            "circle-stroke-width": [
                "interpolate", ["exponential", 1.1], ["zoom"],
                2, 0,
                14, 1
            ],
        }
    })

    map.addLayer({
        id: "unknown_injuries",
        type: "circle",
        source: {
            url: "pmtiles://static/tiles/texas_tiles/unknown_injuries.pmtiles",
            type: "vector"
        },
        "source-layer": "unknown_injuries",
        paint: {
            "circle-opacity": .3,
            "circle-color": "yellow",
            "circle-radius": [
                "interpolate", ["exponential", 1.1], ["zoom"],
                2, .3,
                14, 5
            ],
            "circle-stroke-opacity": .6,
            "circle-stroke-color": "yellow",
            "circle-stroke-width": [
                "interpolate", ["exponential", 1.1], ["zoom"],
                2, 0,
                14, 1
            ],
        }
    })

    map.on('mouseenter', `fatalities`, () => {map.getCanvas().style.cursor = 'pointer'});
    map.on('mouseleave', `fatalities`, () => {map.getCanvas().style.cursor = ''});

    map.on('click', (e) => {
        const features = map.queryRenderedFeatures(e.point);
        console.log(e)
        console.log(features)
        if (features.length == 0) return;
        let table = "<table><thead><tr><th>Date</th><th>Severity</th><th>ID</th><th>Unit Type</th><th>Age</th><th>Gender</th><th>Ethnicity</th></tr></thead>";
        let total = 0;
        features.forEach((f, i) => {
            table += "<tr>";
            table += `<tr><td>${e.properties.crash_date}</td>`;
            table += `<td align='right'>${e.properties.injury_severity}}</td>`;
            let id = f.properties.id
            table += `<td>${id}</td>`;
            table += `<td>${e.properties.unit_description}</td>`;
            table += `<td>${f.properties.person_age}</td><td>${f.properties.person_gender}</td><td>${f.properties.person_ethnicity}</td>`;
            table += "</tr>";
        })
        table += "</table>";
        new maplibregl.Popup()
            .setLngLat(e.lngLat)
            .setHTML(table)
            .addTo(map)
            .addClassName("popup");
    });
})
</script>